.parent{

    height: 200px;
    position: relative;
    margin: 0 auto;

}

.Values{

    position: absolute;
    left: 50%;
    margin: 0 auto;

}

.Images{

    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;

}

.LatestB{

    font-size: 50px;

}